Variables

In [ ]:
name= "Nikhil"
print(name)
age=22
print(age)

Nikhil
22

Data Types : Integers, Floats, strings, Lists, Tuples, Dictionaries, Booleans

In [ ]:
num=-10.1
print(abs(num))

10.1

In [ ]:
print(bin(num))
#Converts into binary format

-0b1010

In [ ]:
print(hex(num))  #Hexadecimal representation

-0xa

In [ ]:
print(pow(num,2))  #num^2

102.00999999999999

In [ ]:
print(divmod(num,3))  #Quotient and remainder

(-4.0, 1.9000000000000004)

Float

In [ ]:
price=99.99

In [ ]:
print(round(price))  #round to the upperside

100

In [ ]:
print(int(price))

99

In [ ]:
print(float("123.45"))

123.45

In [ ]:
print(price.is_integer())

False

String

In [ ]:
greeting= "Hello, World!"

In [ ]:
print(greeting.lower())

hello, world!

In [ ]:
print(greeting.replace("World","Nikhil")) #replace substring

Hello, Nikhil!

In [ ]:
print(greeting.split())

['Hello,', 'World!']

In [ ]:
print(greeting.find("World")) #find substring

7

In [ ]:
print(len(greeting()))

13

Complex Data Types

Lists

In [ ]:
fruits=["Apples","Bananas","Cherry"]  # can have mixed data types

In [ ]:
fruits.append("Orange")
print(fruits)

['Apples', 'Bananas', 'Cherry', 'Orange', 'Orange']

In [ ]:
fruits.extend(["Grape","Melon"]) #extend list with another list
print(fruits)

['Apples', 'Bananas', 'Cherry', 'Orange', 'Orange', 'Grape', 'Melon', 'Grape', 'Melon']

In [ ]:
fruits.remove("Bananas")
print(fruits)

['Apples', 'Cherry', 'Orange', 'Orange', 'Grape', 'Melon', 'Grape', 'Melon']

In [ ]:
fruits.pop() #remove and return the last element

'Melon'

In [ ]:
fruits.sort()
print(fruits)

['Apples', 'Cherry', 'Grape', 'Grape', 'Melon', 'Orange', 'Orange']

In [ ]:
print(fruits[1])
print(fruits[1:4])
print(fruits[1],fruits[3])

Cherry
['Cherry', 'Grape', 'Grape']
Cherry Grape

In [ ]:
print(fruits.index("Grape")) #find min. index of the element

2

In [ ]:
print("Apples" in fruits) #check if element is in the list

True

Tuples

In [ ]:
coord=(10.0,20.0)

Can't change data (immutable) in Tuples like List

In [ ]:
list2=[1,2,3]
list2[2]=4
print(list2)

[1, 2, 4]

In [ ]:
print(coord.count(10))   #count occurences of a value

1

In [ ]:
print(len(coord))

2

In [ ]:
li=list(coord)  #convert tuple into list
print(li)
#to mutate element in tuple
li[1]="Hi"
print(li)
tup=tuple(li)
print(tup)

[10.0, 20.0]
[10.0, 'Hi']
(10.0, 'Hi')

**Dictionary**

In [ ]:
person={"Name" : "John", "Age" : 28}
print(person)

{'Name': 'John', 'Age': 28}

In [ ]:
print(person.keys())   #get keys
print(person.values())  #get values

dict_keys(['Name', 'Age'])
dict_values(['John', 28])

In [ ]:
print(person.items())    #get all key-value pairs

dict_items([('Name', 'John'), ('Age', 28)])

In [ ]:
print(person.get("Name"))   #GEt value by key

John

In [ ]:
person.update({"Height" : 140 })
print(person)

{'Name': 'John', 'Age': 28, 'Height': 140}

In [ ]:
person.pop("Age")
print(person)

{'Name': 'John', 'Height': 140}

In [ ]:
print(len(person))

2

**Sets**

In [ ]:
se={1,2,3,4,5}
print(se)

{1, 2, 3, 4, 5}

Duplicates are not allowed in sets unlike lists and tuples.

In [ ]:
print(len(se))  #index starts from 1

5

In [ ]:
se.add(6)
print(se)

{1, 2, 3, 4, 5, 6}

In [ ]:
se.update({7,8,9})   #add another set into a set
print(se)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
se.remove(9)
print(se)

{1, 2, 3, 4, 5, 6, 7, 8}

Boolean

In [ ]:
is_active=True
print(is_active)

True

In [ ]:
print(int(is_active))

1

In [ ]:
print(bool(0))
print(bool(1))

False
True

In [ ]:
print(bool("Hello"))

True

In [ ]:
print(is_active and False)  #Logical AND

False

In [ ]:
print(is_active or False)  #Logical OR

True

In [ ]:
print(not is_active)

False

**Conditional Statements**

In [1]:
age=20
if age <18 :
  print("Minor")
elif age >=18 and age <65:
  print("Adult")
else:
  print("Senior")

Adult

In [2]:
num = 42
if num % 2 == 0:
  print("Even")
else:
  print("Odd")

Even

In [3]:
score = 85
if score >= 90:
  print("A")
elif score >= 80:
  print("B")
elif score >= 70:
  print("C")
elif score >= 60:
  print("D")
else:
  print("F")

B

In [4]:
temp = 30
if temp > 30:
  print("Hot")
elif temp > 20:
  print("Warm")
elif temp > 10:
  print("Cool")
else:
  print("Cold")

Warm

In [5]:
#Nested conditional for BMI Calculation
weight =70
height=1.75
bmi=weight/(height*height)
if bmi < 18.5:
  print("Underweight")
else:
  if bmi < 24.9:
    print("Normal")
  else :
    if bmi < 29.9:
      print("Overweight")
    else:
      print("Obese")

Normal

In [6]:
#User login status
is_logged_in=True
has_permission=True
if is_logged_in:
  if has_permission:
    print("Welcome")
  else:
    print("Permission denied")
else:
  print("Please log in")

Welcome

In [8]:
#Age based Discount
age =70
if age < 18:
  print("Eligible for child discount")
elif age >= 65:
  print("Eligible for senior discount")
else :
  print("Not eligible for child discount")

Eligible for senior discount

In [9]:
#Multiple conditions
temp= 25
weather = "Sunny"

if temp > 20 and weather == "Sunny":
  print("Go outside")
elif temp <=20 or weather != "Sunny":
  print("Stay indoors")
else:
  print("Unusual weather")

Go outside

LOOPS

In [10]:
for i in range(5):
  print(i)

0
1
2
3
4

In [17]:
fruits=["apple","banana","cherry","date"]
for i in range(len(fruits)):
  print("Fruit ",i," : ",fruits[i])

Fruit  0  :  apple
Fruit  1  :  banana
Fruit  2  :  cherry
Fruit  3  :  date

In [19]:
#iterating over a string
greeting ="Hello"
for char in greeting:
  print(char)

H
e
l
l
o

In [21]:
#iterating over a dictionary
person = {"Name" : "John", "Age" : 22}
for key,value in person.items():
  print(key,":", value)

Name : John
Age : 22

In [22]:
#Using range() with step
for i in range(0,10,2) :
  print(i)

0
2
4
6
8

In [25]:
# Nested for loops
for i in range(3):
  for j in range(2):
    print(f"i = {i} , j= {j}")

i = 0 , j= 0
i = 0 , j= 1
i = 1 , j= 0
i = 1 , j= 1
i = 2 , j= 0
i = 2 , j= 1

In [26]:
#Enumerate function: returns index and value

fruits = [ "apple","banana","cherry"]
for index, fruit in enumerate(fruits):
  print(f"Fruit {fruit} is at index {index}")

Fruit apple is at index 0
Fruit banana is at index 1
Fruit cherry is at index 2

In [27]:
#while
count =0
while count < 5:
  print(count)
  count +=1

0
1
2
3
4

In [ ]:
#while with break
count =0
while True:  # it will run infinitely when true is mentioned
  print(count)
  count +=1
  if count >= 5:
    break

In [28]:
#while loop with continue
count =0
while count < 5:
  count +=1
  if count == 3:
    continue
  print(count)

1
2
4
5

In [31]:
# using while loop to process user input
user_input=""
while user_input.lower() != "quit":
  user_input=input("Enter a word or quit: ")
  print(f"You entered  : {user_input}")
  break

Enter a word or quit: sadhasjdkashdajquit
You entered  : sadhasjdkashdajquit

In [32]:
#Simulating a countdown
countdown=10
while countdown > 0:
  print(countdown)
  countdown -= 1
print("Blast off!")

10
9
8
7
6
5
4
3
2
1
Blast off

In [37]:
#Using while loop for validation
password=""
while len(password) < 8:
  password = input("ENter a password (must be atleast 8 characters long)" )
  if len(password) < 8:
    print("Password must be atleast 8 characters long")
  print(password)

ENter a password(must be atleast 8 characters long)123456
Password must be atleast 8 characters long
123456
ENter a password(must be atleast 8 characters long)213546789
213546789

REAL LIFE EXAMPLE - MANAGING A GROCERY STORE INVENTORY

In [39]:
store_name = "Grocery Store"
inventory={
    "apples" : 50,
    "oranges" : 30,
    "bananas" : 100
}

#check inventory status
def check_inventory(item) :
  if inventory[item] > 0:
    return f"{item.capitalize()} are in stock : {inventory[item]}"
  else:
    return f"Sorry {item.capitalize()} are out of stock"
#update inventory
def update_inventory(item, quantity):
  if inventory.get(item):
    inventory[item] += quantity
  else:
    inventory[item] = quantity

#check and update inventory
print(check_inventory("apples"))
update_inventory("apples",-10)
print(check_inventory("apples"))
update_inventory("oranges",10)
print(check_inventory("oranges"))

Apples are in stock : 50
Apples are in stock : 40
Oranges are in stock : 40